
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

  
body {
  margin-top: 0;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  }

.menuatas {
	height: 70px;
	font-weight:600;
	font-size: 16px;
}


.thumbnail {
	overflow: hidden;
	height: 400px;
}

.thumbnail figure {
	width: 100%;
	margin: 0;
	left: 0;
}

.thumbnail figure div{
	width: 100%;
}

.thumbnail figure img{
	width: 100%;
	height: 100%;
	
}

.ind-isi{
background-color: #efefef;
padding-top: 5px;
padding-bottom:5px;

}


#menu-fasilitas { 
	text-align: center; 
	}
#menu-fasilitas h2 h3 p {
	font-weight: lighter; 
	}
#menu-fasilitas p {
	opacity: 70%;
	}

.jenis-fasilitas img {
	width: 50px; 
	}
	
.jenis-fasilitas {
	padding-top: 50px;
	height: 200px;
	}

.fasilitas {
	bottom:0;
	position: relative;
	width:100%;
	height:200px;   /* tinggi dari footer */
}

.fasilitas-grid {
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr 1fr; 
	width: 100%; 
	margin: auto;
	}

#menu-contact { 
	text-align: center; 
	}
#menu-contact h2 h3 p {
	font-weight: lighter; 
	}
#menu-contact p {
	opacity: 70%;
	}
	
.jenis-contact {
	padding-top: 50px;
	height: 200px;
	}

.contact {
	bottom:0;
	position: relative;
	width:100%;
	height:200px;   /* tinggi dari footer */
}

.contact-grid {
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr; 
	width: 100%; 
	margin: auto;
	}


#jurusan { 
	padding-top: 50px; 
	text-align: center; }

#jurusan img {
	width: 20%;
}

#jurusan h2 h3 p {
	font-weight: lighter; 
	}
#jurusan p {
	opacity: 70%;
	}
.keahlian img {
	width: 50px; 
	}
.keahlian {
	padding-top: 50px;
	}
.grid {
	display: grid; 
	grid-template-columns: 1fr 1fr; 
	width: 80%; 
	margin: auto;  
	margin-bottom: 100px;	
	}

.table{
	width: 810px;
	margin-left: 120px;
	margin-top: 50px;
	margin-bottom: 50px;
	
}

.table tr:hover{
	background-color: #ffc107;
}



.table td {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	
}

.footer {
	padding-top: 20px;
	padding-left: 30px;
	padding-bottom:20px;
	position: relative;
	width:100%;
	height:300px;   /* tinggi dari footer */
	background-color:black;
	color: white;
}

.footer ul{
	padding-left: 20px;
	
}

.footer a{
	color: white;
}

.row{
	padding-top: 20px;
	padding-left: 20px;
}

.col h2,h3,h4{
	margin-bottom: 10px;
}

.col i{
	padding-top: 10px;
}
