
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

  
body {
  margin-top: 20px;
  margin-left: 212px;
  margin-right: 212px;
  margin-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  }

.ind-isi{
background-color: #efefef;
padding-top: 5px;
padding-bottom:5px;

}

#menu-fasilitas { 
	text-align: center; 
	}
#menu-fasilitas h2 h3 p {
	font-weight: lighter; 
	}
#menu-fasilitas p {
	opacity: 70%;
	}

.jenis-fasilitas img {
	width: 50px; 
	}
	
.jenis-fasilitas {
	padding-top: 50px;
	height: 200px;
	}

.fasilitas {
	bottom:0;
	position: relative;
	width:100%;
	height:200px;   /* tinggi dari footer */
	background:grey;
}

.fasilitas-grid {
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr 1fr; 
	width: 100%; 
	margin: auto;
	}


#jurusan { 
	padding-top: 50px; 
	text-align: center; }
#jurusan h2 h3 p {
	font-weight: lighter; 
	}
#jurusan p {
	opacity: 70%;
	}
.keahlian img {
	width: 50px; 
	}
.keahlian {
	padding-top: 50px;
	}
.grid {
	display: grid; 
	grid-template-columns: 1fr 1fr; 
	width: 80%; 
	margin: auto;  
	margin-bottom: 100px;	
	}

.footer {
	bottom:0;
	position: relative;
	width:100%;
	height:200px;   /* tinggi dari footer */
	background:black;
}
